# Python Variables
--- Rules and Regulations ---
- variable = identifier = object
- we cont use the variable starts with digits
- we cont use the key words as an variables
- any special symbols except underscore("_") we cont use it as variables

In [1]:
import keyword
keyword.kwlist

['False',
 'None',
 'True',
 'and',
 'as',
 'assert',
 'async',
 'await',
 'break',
 'class',
 'continue',
 'def',
 'del',
 'elif',
 'else',
 'except',
 'finally',
 'for',
 'from',
 'global',
 'if',
 'import',
 'in',
 'is',
 'lambda',
 'nonlocal',
 'not',
 'or',
 'pass',
 'raise',
 'return',
 'try',
 'while',
 'with',
 'yield']

In [2]:
len(keyword.kwlist)

35

In [1]:
a = 10
a

10

In [2]:
9b = 10

SyntaxError: invalid decimal literal (2340201047.py, line 1)

In [3]:
&b = 20

SyntaxError: invalid syntax (2910752417.py, line 1)

In [4]:
_9 = 10

In [5]:
_9

10

# Python Datatype
- There are 5 types of Data Types(int, float, boolean, complex, string)
- In type conversion we cont pass two values as an parameters

# Integer Data Type
int to int     ---> yes || 
float to int   ---> yes || 
bool to int    ---> yes || 
comples to int ---> no  || 
string to int   ---> no  || 
str-int to int     ---> yes || 
str-float to int   ---> no  || 
str-bool to int    ---> no  || 
str-complex to int ---> no  ||

In [8]:
a = int(107.46)
a

107

In [9]:
b = int(True)
b

1

In [10]:
c = int(10+2j)
c

TypeError: int() argument must be a string, a bytes-like object or a real number, not 'complex'

In [11]:
d = int("hi")
d

ValueError: invalid literal for int() with base 10: 'hi'

In [12]:
e = int("100")
e

100

In [13]:
f = int("107.46")
f

ValueError: invalid literal for int() with base 10: '107.46'

# Float data type
int to float ---> yes   ||
float to float ---> yes ||
bool to float ---> yes  ||
complex to float ---> no  ||
str to float --->  no  ||
str-int to float ---> yes  ||
str-float to float ---> yes  ||
str-bool to float ---> no  ||
str-comp to float ---> no

In [17]:
a = float(107)
a

107.0

In [18]:
b = float(False)
b

0.0

In [19]:
c = float(10+2J)
c

TypeError: float() argument must be a string or a real number, not 'complex'

In [20]:
d = float("hi")
d

ValueError: could not convert string to float: 'hi'

In [21]:
e = float("10")
e

10.0

In [22]:
f = float("10.5")
f

10.5

In [23]:
g = float("True")
g

ValueError: could not convert string to float: 'True'

# Boolean data type 
- Any thing except zero is True
- int to float ---> yes   ||
float to float ---> yes ||
bool to float ---> yes  ||
complex to float ---> yes  ||
str to float --->  yes  ||
str-int to float ---> yes  ||
str-float to float ---> yes  ||
str-bool to float ---> yes  ||
str-comp to float ---> yes

In [29]:
a = bool(1)
a

True

In [30]:
b = bool(10.2)
b

True

In [31]:
c = bool(10+2j)
c

True

In [32]:
d = bool(True)
d

True

# String data type
int to float ---> yes   ||
float to float ---> yes ||
bool to float ---> yes  ||
complex to float --->   ||
str to float --->  no  ||
str-int to float ---> yes  ||
str-float to float ---> yes  ||
str-bool to float ---> no  ||
str-comp to float ---> no

In [35]:
a = str(10)
a

'10'

In [36]:
b = str(10.50)
b

'10.5'

In [38]:
c = str(10+2j)
c

'(10+2j)'

In [39]:
d = str(True)
d

'True'

# Complex data type
- Only in the comples we can pass two orguments as an parameters(one foe real another for immagnary)

In [41]:
a = complex(10, 20)
a

(10+20j)

In [44]:
b = complex(10.5, 20.5) 
print(b)

(10.5+20.5j)

In [47]:
c = complex(True, False)
c

(1+0j)

In [48]:
d = complex("hi", "hello")
d

TypeError: complex() can't take second arg if first is a string

In [49]:
e = complex("10", "20")
e

TypeError: complex() can't take second arg if first is a string

In [50]:
e = complex("10", 20)
e

TypeError: complex() can't take second arg if first is a string

In [52]:
e = complex("2+4j")
e

(2+4j)