# Tuple

- The elements in mit will maintain the order
- Immutable, once defined the elements in it will not changes
- Heterogeneous, it can store the different data types in it
- Indexing can be possible

--------------------------------------------------------------------------------------------------------------------------------------

In [32]:
a = (1, 2, 3, 4, 5)
a

(1, 2, 3, 4, 5)

In [33]:
a.add(6)
a

AttributeError: 'tuple' object has no attribute 'add'

In [34]:
b = list(a)
b.append(6)
a = tuple(b)
a

(1, 2, 3, 4, 5, 6)

- enumerate(tuple) it will gives the index and element

In [35]:
for i in enumerate(a):
    print(i)

(0, 1)
(1, 2)
(2, 3)
(3, 4)
(4, 5)
(5, 6)

In [36]:
print(a.index(5))

4

In [37]:
3 in a

True

In [38]:
a = (1, 2, 3)
b = (4, 5, 6)
c = a + b
c

(1, 2, 3, 4, 5, 6)

In [39]:
b = sum(c)
b

21

In [40]:
a = list(c)
for i in range(len(a)):
    a[i] *= a[i]
b = tuple(a)
b

(1, 4, 9, 16, 25, 36)

In [41]:
for i in a:
    if i%2 != 0:
        print("The entire tuple is not even")
        break
    else:
        print("The entire tuple is even")

The entire tuple is not even

In [42]:
v1, *v2, v3 = b
print(v1)
print(v2)
print(v3)

1
[4, 9, 16, 25]
36

In [43]:
c = (1, 2, 2, 3, 4, 2, 5)
seen = {}
for i in c:
    if i in seen:
        seen[i] += 1
    else:
        seen[i] = 1
seen

{1: 1, 2: 3, 3: 1, 4: 1, 5: 1}

In [44]:
a = ((1, 2), (3, 4), (5, 6))
d = [i for ti in a for i in ti]
c = tuple(d)
c

(1, 2, 3, 4, 5, 6)

In [45]:
a = [("apple", 2), ("banana", 3), ("kivi", 1)]
a.sort(key = lambda x:x[1])
a

[('kivi', 1), ('apple', 2), ('banana', 3)]

In [46]:
b = (1, 2, 3, 4, 3, 3, 2, 1, 4)
c = []
for i in b:
    if i not in c:
        c.append(i)
d = tuple(c)
d

(1, 2, 3, 4)

In [47]:
a = ("apple", "banana", "kivi", "papaya")
b = list(a)
b.sort(key = len)
b[-1]

'papaya'